.richTextQuestionFormPartWrapper {
    transition: 0.2s;
    border: 2px solid rgba(0, 0, 0, 0.17);
    border-radius: 4px;
}

.richTextQuestionFormPartWrapper:focus-within {
    border: 2px solid #AC6DC9;
}

.richTextQuestionFormPartWrapper :global(.ProseMirror) {
    min-height: 88px;
}